page-login {
    .img-loaded>img {
        height: 100%;
        margin: 0 auto;
    }
    .fb {
        background-color: #3B5998 !important;
    }
    ion-img {
        background-color: transparent !important;
    }
}