<ion-header>
    <ion-navbar color="primary">
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="loginUser()">
        <ion-list>
            <ion-item text-center>
                <ion-img width="140" height="140" src="assets/imgs/logo.png"></ion-img>
            </ion-item>
            <ion-item>
                <ion-icon name="person" item-left></ion-icon>
                <ion-label stacked>Email:</ion-label>
                <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="key" item-left></ion-icon>
                <ion-label stacked>Password:</ion-label>
                <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button block type="submit" [disabled]="!myForm.valid">Ingresar</button>
        </div>

    </form>
    <div padding>
        <button ion-button block (click)="loginWithFacebook()" class="fb">
            Facebook
          </button>
    </div>

    <div text-center>
        <a ion-button block clear (click)="goToSignup()">
      Nueva cuenta
    </a>
        <a ion-button block clear (click)="goToResetPassword()">
      Olvide mi contraseña
    </a>
    </div>

</ion-content>