<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Cultivo Personalizado
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group>
        <ion-item-divider color="light">Datos del Cultivo</ion-item-divider>
        <ion-list>

            <ion-item>
                <ion-label stacked>Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="data.nombre"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Descripción</ion-label>
                <ion-input type="text" [(ngModel)]="data.descripcion"></ion-input>
            </ion-item>

        </ion-list>

        <ion-item-divider color="light">Fase Crecimiento</ion-item-divider>
        <ion-list>

            <ion-item>
                <ion-label stacked>Duración</ion-label>
                <ion-input type="number" [(ngModel)]="data.fasesRutinaCultivo[0].duracion"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Hora Luz</ion-label>
                <ion-input type="number" [(ngModel)]="data.fasesRutinaCultivo[0].horas_luz"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Ph Aceptable</ion-label>
                <ion-input type="number" [(ngModel)]="data.fasesRutinaCultivo[0].parametrosFaseCultivo[0].valor_esperado"></ion-input>
            </ion-item>

        </ion-list>



        <ion-item-divider color="light">Fase Floración</ion-item-divider>
        <ion-list>

            <ion-item>
                <ion-label stacked>Duración</ion-label>
                <ion-input type="number" [(ngModel)]="data.fasesRutinaCultivo[1].duracion"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Hora Luz</ion-label>
                <ion-input type="number" [(ngModel)]="data.fasesRutinaCultivo[1].horas_luz"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Ph Aceptable</ion-label>
                <ion-input type="number" [(ngModel)]="data.fasesRutinaCultivo[1].parametrosFaseCultivo[0].valor_esperado"></ion-input>
            </ion-item>

        </ion-list>
        <button ion-button style="width: 100%;" (click)="save()">Guardar</button>
    </ion-item-group>

</ion-content>