<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Cultivos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="this.cultivosList[0]">
        <ion-item>
            <ion-avatar item-start>
                <img [src]="image" (error)='defaultUrl()'>
            </ion-avatar>
            <button ion-item (click)="itemSelected(this.cultivosList[0])">
                            {{ this.cultivosList[0].nombre_rutina_cultivo }}
                          </button>
        </ion-item>

    </ion-list>
    <div *ngIf="!this.cultivosList[0]">
        No tienes cultivos asociados.
    </div>
    <ion-fab *ngIf="!this.cultivosList[0]" bottom right (click)="addCultivo()">
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>