<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ item.nombre }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item>
            <ion-label stacked>Tipo</ion-label>
            <ion-input type="text" [value]="item.nombre_rutina_cultivo" readonly></ion-input>
        </ion-item>

    </ion-list>
    <button ion-button style="width: 100%;" (click)="delete()" navPop>Finalizar</button>
</ion-content>