<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Informes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-tabs selectedIndex="0">
        <ion-tab [root]="tab1Root" tabTitle="Tiempo Cultivos"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Tiempo Cosecha"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="Mediciones Históricas"></ion-tab>
    </ion-tabs>
</ion-content>