<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Configuraciones</ion-title>
        <ion-buttons end>
            <button menuClose ion-button icon-only color="royal" (click)="update()">
                  <ion-icon name="checkmark"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list no-border>

        <ion-list-header>
            Dispositivo
        </ion-list-header>

        <ion-item>
            <ion-toggle [(ngModel)]="equipo.estado"></ion-toggle>
            <ion-label>
                On/Off
            </ion-label>
            <ion-icon name='power' item-start></ion-icon>
        </ion-item>

    </ion-list>

    <ion-list no-border>

        <ion-list-header>
            Configurar Wifi
        </ion-list-header>

        <ion-item>

            <button ion-button *ngIf="!cargando" color="primary" (click)="configurarWifi()">Configurar</button>
            <ion-icon name='wifi' item-start></ion-icon>
            <ion-label *ngIf="cargando" style="    overflow: initial !important;">Buscando red</ion-label>
            <ion-spinner *ngIf="cargando" item-end></ion-spinner>
        </ion-item>

    </ion-list>
    <ion-list no-border>

        <ion-list-header>
            Notificaciones
        </ion-list-header>

        <ion-item>
            <ion-toggle [(ngModel)]="equipo.notificaciones_on"></ion-toggle>
            <ion-label>
                Notificaciones
            </ion-label>
            <ion-icon name='notifications' item-start></ion-icon>
        </ion-item>
    </ion-list>


    <ion-list>

        <ion-list-header>
            Activar luz a las
            <span item-end *ngIf="equipo.luz_on">{{equipo.hora_inicio}} hs</span>
            <span item-end *ngIf="!equipo.luz_on">-</span>
        </ion-list-header>
        <ion-item>
            <ion-toggle [(ngModel)]="equipo.luz_on"></ion-toggle>
            <ion-label>
                Habilitar Luz
            </ion-label>
            <ion-icon name='sunny' item-start></ion-icon>
        </ion-item>
        <ion-item>
            <ion-range step="1" snaps="true" min="0" max="23" pin="true" [(ngModel)]="equipo.hora_inicio" [disabled]="!equipo.luz_on">
                <ion-icon range-left name="clock"></ion-icon>
                <ion-icon range-right name="sunny"></ion-icon>
            </ion-range>
        </ion-item>


    </ion-list>
    <ion-list>

        <ion-list-header>
            Filtro de Carbón
        </ion-list-header>
        <ion-item>
            <ion-label>
                Fecha de Cambio
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dateIso"></ion-datetime>
        </ion-item>



    </ion-list>
    <ion-list>

        <ion-list-header>
            Vaciar Tanque Principal
        </ion-list-header>
        <ion-item>
            <ion-toggle [(ngModel)]="equipo.vaciar"></ion-toggle>
            <ion-label>
                Vaciar
            </ion-label>
            <ion-icon name='water' item-start></ion-icon>
        </ion-item>

    </ion-list>

</ion-content>

<style>
    ion-icon {
        width: 10%;
    }
</style>