<!--
  Generated template for the Tab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title> Tiempo Cosechado</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-content>
            <canvas #doughnutCanvas></canvas>
        </ion-card-content>
    </ion-card>


</ion-content>