.current {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 16px;
    text-align: center;
}

.progress-title {
    color: #bbb;
    font-size: 20px;
}

.progress-wrapper {
    position: relative;
    margin: 1px auto;
    font-size: 40px;
    text-align: center;
}

svg {
    width: 100%;
}

round-progress {
    margin: 0 auto;
    width: 70% !important;
    height: 50% !important;
}

.plant {
    width: 60%
}

.icon {
    vertical-align: middle;
}

ion-col span {
    font-size: 15px;
}

ion-col {
    text-align: center;
}

.circle {
    height: 65px;
    width: 65px;
    background-color: #A0DC82;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 10%;
    box-shadow: 0px 0px 20px 0px silver;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

ion-chip {
    background-color: #A0DC82 !important;
}

ion-chip ion-avatar img {
    width: 70%;
    margin: 0 auto;
}

.chip-container {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 3%;
}

page-home {
    .icon {
        width: 40%;
    }
}

.spinner svg {
    stroke: skyblue;
    fill: skyblue;
}

ion-refresher {
    z-index: 100 !important;
    margin-top: 20% !important;
}

.status-yellow {
    box-shadow: 0px 0px 20px 0px gold;
}

.status-red {
    box-shadow: 0px 0px 20px 0px tomato;
}

.green {
    color: black;
}

.red {
    color: tomato;
}