<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Condiciones Actuales</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding *ngIf="!cultivoActual || (this.dispositivoActual && !dispositivoActual.estado)">
    <ion-refresher (ionRefresh)="doRefresh($event)" pulling-text="Pull to refresh" spinner="ios-small">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <span *ngIf="!cultivoActual">No hay datos para mostrar. Agregue un cultivo a su dispositivo</span>

    <span *ngIf="this.dispositivoActual && !dispositivoActual.estado">No hay datos para mostrar. Su dispositivo se encuentra apagado</span>
</ion-content>

<ion-content padding *ngIf="cultivoActual && ( dispositivoActual && dispositivoActual.estado)">
    <ion-refresher (ionRefresh)="doRefresh($event)" pulling-text="Pull to refresh" spinner="ios-small">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Parte superior -->
    <div class="chip-container">
        <ion-chip>
            <ion-avatar>
                <img [src]="image" (error)='defaultUrl()'>
            </ion-avatar>
            <ion-label>{{cultivoActual.nombre_rutina_cultivo}}</ion-label>
        </ion-chip>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div [ngClass]="{'status-red': medicionHumedad.valor < 40 || medicionHumedad.valor > 60,
                                'status-yellow': medicionHumedad.valor < 45 || medicionHumedad.valor > 55  }" class="circle align-right" (click)="presentAlert(medicionHumedad.valor,'Humedad del Ambiente (40-60)')">
                    <img class="icon" src="./assets/imgs/humedad.svg"><span>{{medicionHumedad.valor}}</span>
                </div>
            </ion-col>
            <ion-col>
                <div [ngClass]="{'status-red': co2.valor < 300 || co2.valor > 600,
                        'status-yellow': co2.valor < 350 || co2.valor > 550  }" class="circle align-left" (click)="presentAlert(co2.valor,'Nivel CO2 (300-600)')">
                    <img class="icon" src="./assets/imgs/co2.svg"><span>{{co2.valor}}</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div [ngClass]="{'status-red': tempAire.valor < 15 || tempAire.valor > 30,
                        'status-yellow': tempAire.valor < 20 || tempAire.valor > 25  }" class="circle align-left" (click)="presentAlert(tempAire.valor,'Temperatura del Aire(15-30)')">
                    <img class="icon" src="./assets/imgs/tempAire.svg"><span>{{tempAire.valor}}</span>
                </div>
            </ion-col>
            <ion-col>
                <div [ngClass]="{'status-red': tempAgua.valor < 18 || tempAgua.valor > 21,
                        'status-yellow': tempAgua.valor < 19 || tempAgua.valor > 20  }" class="circle align-right" (click)="presentAlert(tempAgua.valor,'Temperatura del Agua(18-21)')">
                    <img class="icon" src="./assets/imgs/tempAgua.svg"><span>{{tempAgua.valor}}</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Planta -->
    <div class="progress-wrapper" color="primary">
        <div class="current">
            <img class="plant" [src]="plantUrl">
            <h6>{{diasProgesoText}}/{{diasTotalesText}}</h6>
            <h6>SEMANAS</h6>
        </div>
        <round-progress *ngIf="diasTotales" [current]="diasProgeso" [max]="diasTotales.toString()"></round-progress>
    </div>

    <!-- Parte inferior-->
    <ion-grid>
        <ion-row>
            <ion-col>
                <div [ngClass]="{'status-red': medicionCE.valor < 0.111 || medicionCE.valor > 0.333,
                        'status-yellow': medicionCE.valor < 0.150 || medicionCE.valor > 0.290  }" class="circle align-left" (click)="presentAlert(medicionCE.valor,'Electro Conductividad (0.111-0.333)')">
                    <img class="icon" src="./assets/imgs/ce.svg"><span>{{medicionCE.valor}}</span>
                </div>
            </ion-col>
            <ion-col>
                <div class="circle align-right" (click)="presentAlert(medicionNutrienteA.valor+'/'+medicionNutrienteB.valor,'Nivel Nutrientes (%) A/B')">
                    <img class="icon" src="./assets/imgs/nutrientes.svg"><span>{{medicionNutrienteA.valor}}<br>{{medicionNutrienteB.valor}}</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Footer -->
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="circle align-right" (click)="presentAlert(medicionPHMas.valor+'/'+medicionPHMenos.valor,'Nivel Tanque(%) Ph+/Ph-')">
                    <img class="icon" src="./assets/imgs/phBottle.svg"><span><ion-icon name="add" [ngClass]="medicionPHMenos.valor?'green':'red'"></ion-icon><br><ion-icon name="remove" [ngClass]="medicionPHMenos.valor?'green':'red'"></ion-icon></span>
                </div>
            </ion-col>
            <ion-col>
                <div [ngClass]="{'status-red': medicionPh.valor < (medicionPh.valor - medicionPh.valor*5/100) || medicionPh > (medicionPh.valor - medicionPh.valor*5/100),
                                'status-yellow': medicionPh.valor < (medicionPh.valor - medicionPh.valor*3/100) || medicionPh > (medicionPh.valor - medicionPh.valor*3/100) }" class="circle align-left" (click)="presentAlert(medicionPh.valor,'Nivel Ph (5%)')">
                    <img class="icon" src="./assets/imgs/pH.svg"><span>{{medicionPh.valor}}</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>