<!--
  Generated template for the Tab2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Histórico Mediciones</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Medición</ion-label>
                <ion-select [(ngModel)]="parametroElegido" name="parametroElegido" (ionChange)="getNewchart()">
                    <ion-option *ngFor="let valor of parametros" [value]="valor.id">{{valor.nombre}}</ion-option>

                </ion-select>
            </ion-col>
            <ion-col>

                <ion-label>Tiempo</ion-label>
                <ion-select [(ngModel)]="tiempoElegido" name="tiempoElegido" (ionChange)="getNewchart()">
                    <ion-option value="1">1 semana</ion-option>
                    <ion-option value="2">2 semanas</ion-option>
                    <ion-option value="3">3 semanas</ion-option>
                    <ion-option value="4">4 semanas</ion-option>
                </ion-select>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-content>
            <canvas #lineCanvas></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>