<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Dispositivos
                <p class="subtitle" *ngIf="equipoActual">{{equipoActual.nombre}}</p>
            </ion-title>
            <ion-buttons end>
                <button menuClose ion-button icon-only color="royal" (click)="openDispositivos()">
                      <ion-icon name="settings"></ion-icon>
                    </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>

            <button [disabled]="equipoActual == null" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">

            <!--<<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
            {{p.title}}
            </button>
            <ion-item menuClose (click)="logoutClicked()">Salir</ion-item>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>