<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{notificacion.asunto}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-note item-end>{{notificacion.fecha | date:'dd/MM/yyyy'}}</ion-note>
    <h5>{{notificacion.mensaje}}</h5>
</ion-content>