<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Notificaciones</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)" pulling-text="Pull to refresh" spinner="ios-small">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <h4 *ngIf="!notificacionesHoy.length && !notificacionesSemAnt.length && !notificacionesAnteriores.length">No hay notificaciones</h4>
    <ion-list *ngIf="notificacionesHoy.length">

        <ion-list-header>Hoy</ion-list-header>

        <ion-item *ngFor="let notificacion of notificacionesHoy" (click)="openModal(notificacion)">
            <ion-avatar item-start>
                <img [src]="notificacion.tipo == 1 ? alerta : informacion">
            </ion-avatar>
            <h2>{{notificacion.asunto}}</h2>
            <p>{{notificacion.mensaje}}</p>
            <ion-note item-end>{{notificacion.hora}}</ion-note>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="notificacionesSemAnt.length ">

        <ion-list-header>Hace una semana</ion-list-header>

        <ion-item *ngFor="let notificacion of notificacionesSemAnt" (click)="openModal(notificacion)">
            <ion-avatar item-start>
                <img [src]="notificacion.tipo == 1 ? alerta : informacion">
            </ion-avatar>
            <h2>{{notificacion.asunto}}</h2>
            <p>{{notificacion.mensaje}}</p>
            <ion-note item-end>{{notificacion.fecha | date:'dd/MM/yyyy'}}</ion-note>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="notificacionesAnteriores.length ">

        <ion-list-header>Anteriores</ion-list-header>

        <ion-item *ngFor="let notificacion of notificacionesAnteriores" (click)="openModal(notificacion)">
            <ion-avatar item-start>
                <img [src]="notificacion.tipo == 1 ? alerta : informacion">
            </ion-avatar>
            <h2>{{notificacion.asunto}}</h2>
            <p>{{notificacion.mensaje}}</p>
            <ion-note item-end>{{notificacion.fecha | date:'dd/MM/yyyy'}}</ion-note>
        </ion-item>

    </ion-list>

</ion-content>