<ion-header>
    <ion-navbar color="primary">
        <ion-title>Reiniciar Contraseña</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="myForm" (ngSubmit)="resetPassword()">
        <ion-icon name="contact"></ion-icon>
        <ion-list>
            <ion-item>
                <ion-icon name="person" item-left></ion-icon>
                <ion-label stacked>Email:</ion-label>
                <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button block type="submit" [disabled]="!myForm.valid">Reiniciar</button>
        </div>
    </form>
</ion-content>