<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Dispositivos</ion-title>

        <ion-buttons end>
            <button menuClose ion-button icon-only color="royal" (click)="save()">
                  <ion-icon name="checkmark"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom right (click)="addQr()">
        <button ion-fab mini><ion-icon name="add" ></ion-icon></button>
    </ion-fab>

    <ion-list radio-group #list [hidden]="!listView">
        <ion-item *ngFor="let dispositivo of dispositivos;let i = index;">
            <ion-label>{{dispositivo.nombre}}</ion-label>
            <ion-radio [checked]="i==0" [value]="dispositivo.nombre" (click)="onSelectionChange(dispositivo,i)"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>