<ion-header>
    <ion-navbar color="primary">
        <ion-title>Registrarse</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="signup()">
        <ion-list>
            <ion-item>
                <ion-icon name="person" item-left></ion-icon>
                <ion-label stacked>Email:</ion-label>
                <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="key" item-left></ion-icon>
                <ion-label stacked>Password:</ion-label>
                <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button block type="submit" [disabled]="!myForm.valid">Registrarse</button>
        </div>
    </form>
</ion-content>